{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Academik Blog</title>
</head>
<body>
<header>
    <h1><a href="{% url 'home' %}">Academik blogi</a></h1>
</header>
{% if user.is_authenticated %}
    <p> Xush kelibsiz {{ user.username }}</p>
    <p>
        <a href="{% url 'logout' %}">Chiqish</a>
    </p>
{% else %}
    <p>
        <a href="{% url 'login' %}">Saytga kirish</a>
    </p>
    <p>
        <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
    </p>
{% endif %}
<div>
    {% block content %}

    {% endblock content %}
</div>

<footer>
    <h3><a href="{% url 'post_new' %}">Yangi post qo'shish</a> </h3>
</footer>

</body>
</html>